@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";


.w-menu__sub-menu-link {
    display: block;
    height: 28px;
    padding: 0 9px;
    text-align: left;
	font-size: 16px;
	color: #000000;
	line-height: 28px;
	font-weight: 100;
	text-decoration: none;
	vertical-align: middle;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}
