@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";

.w-menu__item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
}

.w-menu__item:last-child {
	margin-right: 0;
}