@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";

.w-menu__link {
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-weight: 100;
}