@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
// General mobile version
.b-stories {
    &__title {
        min-height: 87px;
        font-size: 64px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: #333333;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__desc {
        min-height: 33px;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: #333333;
        padding-bottom: 11px;
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 30px;
        a {
            color: #0088cc;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__items {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-bottom: 31px;
        margin-left: -15px;
        margin-right: -15px;
        &__item {
            position: relative;
            width: 340px;
            margin-left: 15px;
            margin-right: 15px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            &__image {
                display: block;
                width: 110px;
                height: 110px;
                border-radius: 100px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                margin-bottom: 20px;
                border: 10px solid #E6E6E6;
                background-size: cover;
            }
            &__name {
                height: 49px;
                font-size: 36px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                text-align: center;
                color: #333333;
                text-decoration: none;
            }
            &__position {
                position: relative;
                height: 33px;
                font-size: 16px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                text-align: center;
                color: #333333;
                padding-bottom: 11px;
                margin-bottom: 10px;
                &:after {
                    content: ' ';
                    display: block;
                    width: 100px;
                    height: 1px;
                    background-color: #e5e5e5;
                    position: absolute;
                    left: 50%;
                    bottom: 0px;
                    margin-left: -50px;
                }
            }
            &__story {
                display: block;
                height: 66px;
                font-size: 16px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                text-align: center;
                color: #333333;
            }
        }
    }
    &__pages {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        user-select: none;
        & > li {
            @include text-hide();
            vertical-align: middle;
            display: inline-block;
            cursor: pointer;
            width: 10px;
            height: 10px;
            background-color: #95999D;
            border-radius: 100%;
            margin-left: 8px;
            margin-right: 8px;
            border: 2px solid #fff;
            &.active {
                border: none;
                background-color: #2D2D2D;
            }
        }
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-lg) {
    .b-stories {
        &__items {
            &__item {
                width: 300px;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .b-stories {
        &__title {
            font-size: 36px;
            font-weight: 300;
            font-style: normal;
            text-align: center;
            color: #333333;
            margin-top: 30px;
            min-height: auto;
            margin-bottom: 8px;
        }
        &__desc {}
        &__frame {
            height: 924px;
        }
        &__items {
            &__item {
                width: 100%;
                margin-bottom: 30px;
                &:first-child {
                    margin-bottom: 0;
                }
                &__image {}
                &__name {}
                &__position {}
                &__story {
                    font-size: 15px;
                }
            }
        }
        &__pages {
            & > li {}
        }
    }
}
