@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";


// General mobile version
@media (max-width: $screen-sm-max) {
    .b-404.l-full-screen-block__item {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 140px;
        min-height: 1000px;
        margin-top: 0 !important;

        &:after {
            @include transition(0.2s all);
            @include opacity(0.25);
            content: ' ';
            display: block;
            width: 94px;
            height: 52px;
            background: url(../img/logo.svg) no-repeat;
            background-size: contain;
            position: absolute;
            left: 50%;
            bottom: 36px;
            margin-left: -47px;
        }
    }
    .b-404 {
        &__title {
            font-size: 150px !important;
            line-height: 150px !important;
        }
        &__subtitle {
            font-size: 35px !important;
            line-height: 35px !important;
        }
    }
}

.l-full-screen-block__item.b-404 {
    align-self: center;
    margin-top: -50px;
}

.b-404 {
    &__title {
        font-size: 200px;
        line-height: 200px;
        font-weight: 800;
        text-align: center;
        color: #333333;
    }
    &__subtitle {
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        color: #333333;
        position: relative;
        top: -20px;
    }
    &__close {
        @include hide-text();
        display: block;
        width: 15px;
        height: 15px;
        background: url('../img/button-x.svg') 0 0 no-repeat;
        background-size: contain;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}
