@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
// General mobile version
@media (max-width: $screen-xs-max) {
    .l-footer {
        &__row {
            margin-bottom: 30px !important;
        }
    }
}

.l-footer {
    &__row {
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 40px;
        }
        &--centered {
            display: flex;
            flex-flow: row;
            justify-content: center;
        }
    }
}
