//== Typography

$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            36px !default; // ~36px
$font-size-h2:            30px !default; // ~30px
$font-size-h3:            24px !default; // ~24px
$font-size-h4:            20px !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            $font-size-base !default;

$line-height-base:        1.7142 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$headings-font-family:    inherit !default;
$headings-font-weight:    100 !default;
$headings-line-height:    1.3593 !default;
$headings-color:          inherit !default;

//-- Z-index master list

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;


//== Media queries breakpoints

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system

$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;
$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

//== Container sizes

$container-tablet:             (720px + $grid-gutter-width) !default;
$container-sm:                 $container-tablet !default;
$container-desktop:            (960px + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;
$container-large-desktop:      (1080px + $grid-gutter-width) !default;
$container-lg:                 $container-large-desktop !default;
