@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
// General mobile version
@media (max-width: $screen-xs-max) {
    .b-might-like {
        margin-left: -15px;
        margin-right: -15px;
        &__title {
            padding-left: 15px;
            padding-right: 15px;
        }
        &__items {
            flex-flow: row wrap;
            justify-content: space-around !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
        &__item {
            display: block;
            max-width: none !important;
            padding-bottom: 20px;
            margin-left: 0px !important;
            margin-right: 0px !important;
            &__link {
                display: block;
                text-decoration: none;
            }
            &__image {
                @include img-responsive();
            }
            &__caption {
                padding-left: 15px;
                padding-right: 15px;
            }
            &__meta {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.b-might-like {
    &__title {
        border-bottom: 1px solid #000;
        margin-top: 0;
        margin-bottom: 20px;
    }
    &__items {
        list-style: none;
        margin: 0;
        margin-left: -20px;
        margin-right: -20px;
        padding: 0;
        display: flex;
        justify-content: flex-start;
    }
    &__item {
        width: 340px;
        margin-left: 20px;
        margin-right: 20px;
        &__link {
            display: block;
            text-decoration: none;
        }
        &__image {
            @include img-responsive();
            margin-bottom: 20px;
        }
        &__caption {
            font-weight: bold;
            font-size: 16px;
            color: #333333;
            text-decoration: none;
            margin-top: 0;
            margin-bottom: 0;
        }
        &__meta {
            font-weight: 100;
            font-size: 16px;
            color: #BFBFBF;
        }
    }
}
