@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";

.w-search-block__img {
	font-size: 0;
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 5px solid #E9E9E9;
	border-radius: 100px;
	margin-right: 12px;
}