@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";

.w-search-block__close {
	@include hide-text();
	display: block;
	border: 0;
	outline: 0;
	width: 15px;
	height: 15px;
	background: url('../img/button-x.svg') 0 0 no-repeat;
	background-size: contain;

	position: absolute;
	top: 0;
	right: -15px;
}