@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";

.w-search-block__item {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		background-color: #333333;
	}
}