@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";

.w-search-block__text {
	h3 {
		font-size: 20px;
		line-height: 20px;
		font-weight: 100;
		padding: 0;
		margin: 0;
		margin-bottom: 2.5px;
		b {
			font-weight: bold;
		}
	}
	p {
		font-size: 14px;
		padding: 0;
		margin: 0;
	}
}