@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
// General mobile version
@media (max-width: $screen-xs-max) {
    .w-search-block.w-search-block--header {
        .w-search-block {}
    }
}

// General desktop version
@media (min-width: $screen-sm-min) {
    .w-search-block.w-search-block--header {
        position: relative;
        width: 1080px;
        max-width: 100%;
        &:before {
            background: url('../img/search-white.svg') 0 0 no-repeat;
            background-size: contain;
            position: absolute;
            top: 9px;
            left: 0;
        }
        .w-search-block {
            &__close {
                background: url('../img/button-x-white.svg') 0 0 no-repeat;
                background-size: contain;
                top: 13px;
                right: 0px;
            }
            &__results {
            	background-color: #fff;
            	padding: 26px 25px 28px 30px;
            }
        }
    }
}
