@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";

.l-full-screen__logo.b-small-logo {
	position: absolute;
	left: 50%;
	margin-left: -47px;
	bottom: 36px;
}

.b-small-logo {
	display: inline-block;
	&__item {
		@include opacity(0.3);
		@include transition(0.3s all);
		display: block;
		width: 94px;
		height: 52px;
		background-repeat: no-repeat;
		background-size: contain;
		&:hover {
			@include opacity(1);
			@include transition(0.3s all);
		}
	}
}