@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";


// General mobile version
@media (max-width: $screen-sm-max) {
    .l-full-screen-block__item {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: auto;
    }
}

// General desktop version
@media (min-width: $screen-md-min) {
    .l-full-screen-block {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        &.__with_logo {
            &.__hovered_logo {
                &:after {
                    @include transition(0.2s all);
                    @include opacity(1);
                }
            }
            &:after {
                @include transition(0.2s all);
                @include opacity(0.25);
                content: ' ';
                display: block;
                width: 94px;
                height: 52px;
                background: url(../img/logo.svg) no-repeat;
                background-size: contain;
                position: absolute;
                left: 50%;
                bottom: 36px;
                margin-left: -47px;
            }
        }
    }
}
