@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";


// General mobile version
@media (max-width: $screen-xs-max) {
    .l-full-screen-block {
        position: relative;
        &__logo {
            display: none;
        }
        &.__with_logo {
            .l-full-screen-block__logo {
                display: block;
            }
        }
    }
}

// General desktop version
@media (min-width: $screen-sm-min) {
    .l-full-screen-block {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        &__logo {
            display: none;
        }
        &.__with_logo {
            .l-full-screen-block__logo {
                display: block;
            }
        }
    }
}
