@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
// General mobile version
@media (max-width: $screen-xs-max) {
    .b-search-form--archive {
        .b-search-form { 
            &__input {
                width: 100% !important;
                max-width: 100%;
            }
        }
    }
}

.b-search-form--archive {
    position: relative;
    .b-search-form {
        &__input {
            width: 400px;
            height: 44px;
            line-height: 44px;
            max-width: 100%;
            border: 1px solid #E5E5E5;
            border-radius: 3px;
            margin: 0 !important;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 45px !important;
            padding-right: 45px !important;
        }
        &__clear {
            @include hide-text();
            display: block;
            width: 15px;
            height: 15px;
            background: #fff url('../img/button-x.svg') 0 0 no-repeat;
            background-size: contain;
            border: none;
            position: absolute;
            top: 15px;
            right: 15px;
            outline: none;
        }
    }
    &:before {
        content: ' ';
        display: block;
        width: 15px;
        height: 22px;
        background: url('../img/search-black.svg') 0 0 no-repeat;
        background-size: contain;
        position: absolute;
        top: 11px;
        left: 15px;
    }
}
