@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
// General mobile version
@media (max-width: $screen-xs-max) {
    .b-comments {
        &__title {
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__sub-items {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: 20px !important;
            margin-top: 20px !important;
        }
        &__item {
            &__comment {
                flex-flow: column wrap !important;
                justify-content: flex-start;
                width: 100%;
                padding-top: 58px;
                padding-right: 0 !important;
                margin-top: -70px;
                &__img {}
                &__inner {
                    margin-top: -20px;
                    &__author {
                        padding-left: 75px;
                        position: relative;
                        top: -28px;
                    }
                    &__meta {
                        padding-left: 75px;
                        position: relative;
                        top: -28px;
                    }
                    &__reply {
                        top: 20px !important;
                        right: 0 !important;
                    }
                }
            }
        }
        &__post-form {
            padding-top: 20px !important;
            &__label {
                &__text {
                    margin-bottom: 10px !important;
                }
            }
            &__input {
                width: 100% !important;
            }
            &__submit {
                width: 100% !important;
            }
        }
    }
}

.b-comments {
    &__title {
        border-bottom: 1px solid #000;
        margin-top: 0;
        margin-bottom: 10px;
    }
    &__items {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__sub-items {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 80px;
        margin-top: 30px;
    }
    &__item {
        position: relative;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E5E5E5;
        &__comment {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            &__img {
                flex-shrink: 0;
                font-size: 0;
                display: inline-block;
                width: 65px;
                height: 65px;
                border: 5px solid #F1F1F1;
                border-radius: 100px;
                margin-right: 20px;
            }
            &__inner {
                flex-shrink: 1;
                &__author {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                    color: #242424;
                }
                &__meta {
                    font-size: 9px;
                    line-height: 13px;
                    color: #9B9B9B;
                }
                &__text {
                    max-width: 700px;
                    font-size: 14px;
                    line-height: 19px;
                    color: #333333;
                }
                &__reply {
                    @include transition(0.2s all);
                    display: block;
                    text-align: center;
                    width: 73px;
                    height: 20px;
                    line-height: 20px;
                    font-weight: 100;
                    font-size: 12px;
                    color: #333333;
                    text-decoration: none;
                    text-transform: uppercase;
                    border: 1px solid #000;
                    border-radius: 12px;
                    position: absolute;
                    right: 15px;
                    top: 30px;
                    &:hover {
                        @include transition(0.3s all);
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
    &__post-form {
        padding-top: 30px;
        &__caption {
            display: block;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: #333333;
            margin-bottom: 22px;
        }
        &__label {
            display: block;
            font-size: 14px;
            line-height: 19px;
            color: #333333;
            margin-bottom: 20px;
            &__text {
                display: inline-block;
                width: 157px;
            }
        }
        &__input {
            width: 250px;
            height: 44px;
            border: 1px solid #E5E5E5;
            outline: none;
            border-radius: 3px;
            padding-left: 8px;
            padding-right: 8px;
            &:focus {
                border: 1px solid #333333;
            }
        }
        &__textarea {
            display: block;
            width: 100%;
            height: 136px;
            border: 1px solid #E5E5E5;
            border-radius: 3px;
            outline: none;
            resize: none;
            margin-top: 5px;
            padding: 5px 8px;
            max-width: 100%;
            &:focus {
                border: 1px solid #333333;
            }
        }
        &__submit {
            @include transition(0.3s all);
            width: 150px;
            height: 36px;
            padding: 0;
            line-height: 34px;
            border: 1px solid #000;
            font-weight: 100;
            font-size: 16px;
            color: #333333;
            background: #fff;
            border-radius: 20px;
            outline: none;
            &:hover {
                @include transition(0.3s all);
                background-color: #000;
                color: #fff;
            }
        }
    }
}
