@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
.w-folow {
	@include clearfix();
	&__title {
		font-weight: bold;
		font-size: 16px;
		color: #333333;
		text-align: center;
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	&__items {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		position: relative;
		display: block;
		float: left;
		&:hover {
			.w-folow__item__desc {
				display: flex;
				@include animation( opacity-transition-animation 0.5s);
			}
		}
		&__image {
			display: block;
			width: 180px;
			height: 180px;
		}
		&__desc {
			display: none;
			position: absolute;
			left: 10px;
			right: 10px;
			top: 10px;
			bottom: 10px;
			border: 1px solid #fff;
			background-color: rgba(255,255,255,0.8);
			align-items: center;
			text-align: center;
			font-weight: 100;
			font-size: 10px;
			color: #333333;

		}
	}
}
