@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
// General mobile version
@media (max-width: $screen-xs-max) {
    .l-full-screen {
        position: relative;
        &__logo {
            display: none;
            &.b-small-logo {
                position: absolute;
                left: 50%;
                margin-left: -47px;
                bottom: 36px;
            }
        }
        &__item {
            &.b-404 {
                position: relative;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 140px;
                min-height: 1000px;
                margin-top: 0 !important;
            }
            &.b-attachment {
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 80px;
                min-height: 1000px;
            }
        }
        &.__with_logo {
            .l-full-screen__logo {
                display: block;
            }
        }
    }
}

// General desktop version
@media (min-width: $screen-sm-min) {
    .l-full-screen {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        &__item {
            .l-front-block {
                align-self: center;
            }
            &.b-404 {
                align-self: center;
                margin-top: -50px;
            }
            &.b-attachment {
                align-self: center;
            }
            .w-search-block {
                align-self: center;
            }
        }
        &__logo {
            display: none;
            &.b-small-logo {
                position: absolute;
                left: 50%;
                margin-left: -47px;
                bottom: 36px;
            }
        }
        &.__with_logo {
            .l-full-screen__logo {
                display: block;
            }
        }
    }
}
